* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #333;
    align-content: center;
    justify-content: center;
}

#game-container {
    display: block;
}